/* CSS for Landing-Page */
/* style.css            */


/* Header Section */
.header {
	color: #F8F9F9;
	background-color: #21618C;
	font-family: roboto;

	display: flex;
	
	width: 100%;

}

.herologo {
	display: flex;
	flex: 1;
	justify-content: left;
	align-content: center;
	padding: 4px;
	height: 34px;
	width: auto;
	
}

.header a {
	/* flex: 1; */
	

}
.header a:link {
  color: #F8F9F9;
  text-decoration: none;
}

.header a:hover {
  color: #D6EAF8;
 text-decoration: underline;

}

.header a:visited {
  color: #F8F9F9;
  text-decoration: none;
}


.heronav {
	display: flex;
	margin: auto;
	padding: 10px;
	justify-content: space-evenly;
	flex: 1;



}

/*
.navlink {
	display: flex;
	width: 50%;
	justify-content: space-around;	
	border:  solid green;
}
*/

/* Header Section End */

